@model ConsultaLlamadas.Models.CatalogoAcceso

@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>
        #login-div {
            /*position: absolute;
            left: 35%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 20px 11px;
            */
            margin: auto;
            width: 50%;
            height:auto;
            border: 1px solid #c8c8c8;
            padding: 10px;
            margin-top:15%
        }

        #space{
            margin-top: 30px;
            margin-left: 30%;
        }

         
        .field-validator-error {
            color: red;
        }

        .signup{
            margin-top:30px;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>


<body>

     @*Este es el formulario para logearte*@
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table class="center">
                <tr>
                    <td></td>
                    <td style="text-decoration: underline; text-align:center">Login</td>

                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center">Consulta de llamadas</td>
                </tr>

                <tr>

                    <td>
                        @Html.LabelFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                    </td>

                </tr>
                <tr>
                    <td> </td>
                    <td>@Html.ValidationMessageFor(model => model.UserName) </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td>@Html.ValidationMessageFor(model => model.Password) </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.ErrorMessage) </label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td style="align-items:center">
                        <input type="submit" name="name" value="Iniciar sesión" />
                        <input type="reset" name="name" value="Limpiar" />

                    </td>
                </tr>


            </table>
        }
        <div id="space">
            <a style="font-size:17px; font-weight:500" class="flex" href="~/Login/AddOrEdit">¿Aún no tienes una cuenta? Crea una haciendo click aquí.</a>
        </div>
    </div>
    


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>


</html>